/* #region Sidebar*/

#sidebar {

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    position: fixed;
    right: 5px;
    top: 5px;
    width: 360px !important;
    height: 99vh;
    overflow: hidden;
    margin: 0;
    border: 30px solid transparent;
    border-image-source: url(/modules/wooden-ui/ui/img/panel1.png);
    border-image-slice: 35 fill;
    background-position: center !important;
    background-size: 300px 100%!important;
    background-repeat: no-repeat;
}

.collapse::before{
    content: "";
}

#sidebar.collapsed {
    width: 75px !important;
    height: 410px !important;
    padding-left: 5px;
    border: 15px solid transparent;
    border-image-source: url(/modules/wooden-ui/ui/img/panel1.png);
    border-image-slice: 35 fill;
    background-position: center !important;
    background-size: 100% 100%!important;
    background-repeat: no-repeat;
}

#sidebar-tabs{
    text-align: center;
    border-bottom: 1px solid #969888;
    box-shadow: 0 0 10px #969888;
    height: 350px;
}

#sidebar:not(.collapsed) #sidebar-tabs > .item {
    line-height: 0px;
    padding: 2px;
}

#sidebar.collapsed #sidebar-tabs > .item {
    line-height: 4px;
    padding: 0px;
}

i.fa-caret-right::before{
    content: "";

}

.fa-caret-right{
    background-image: url("/modules/wooden-ui/ui/img/inout.png") !important;
    width: 100%;
    height: 100%;
    display: inline-block !important;
    background-position:center !important;
    background-size:20px 15px !important;
    background-repeat: no-repeat;
    content: "";
    text-align: center;
}

i.fa-caret-left::before{
    content: "";

}

.fa-caret-left{
    background-image: url("/modules/wooden-ui/ui/img/inout.png") !important;
    width: 100%;
    height: 100%;
    display: inline-block !important;
    background-position:center !important;
    background-size:20px 15px !important;
    background-repeat: no-repeat;
    content: "";
    text-align: center;
    vertical-align: top;
}

#sidebar:not(.collapsed) #sidebar-tabs i.fa-comments {
    content: "";
    background-image: url("/modules/wooden-ui/ui/img/chat_icon.png") !important;
    width: 100% !important;
    height: 100% !important;
    display: inline-block !important;
    background-position:center !important;
    background-size:cover !important;
}

#sidebar.collapsed #sidebar-tabs i.fa-comments {
    content: "";
    background-image: url("/modules/wooden-ui/ui/img/chat_icon.png") !important;
    width: 100% !important;
    height: 100% !important;
    display: inline-block !important;
    background-position:center !important;
    background-repeat:no-repeat;
}

#sidebar-tabs > .item {
    line-height: 0px;
    height: 32px;
}
#sidebar-tabs > .item.active {
    color: #FFF;
    border: 1px solid #c7c1a8;
    
    box-shadow: 0 0 6px inset #534f45;
}
#sidebar #sidebar-tabs i.fa-comments::before {
    content: "";
}

#sidebar:not(.collapsed) #sidebar-tabs i.fa-swords {
    content: "";
    background-image: url("/modules/wooden-ui/ui/img/battle_icon.png") !important;
    width: 100% !important;
    height: 100% !important;
    display: inline-block !important;
    background-position:center !important;
    background-size:cover !important;
}

#sidebar.collapsed #sidebar-tabs i.fa-swords {
    content: "";
    background-image: url("/modules/wooden-ui/ui/img/battle_icon.png") !important;
    width: 100% !important;
    height: 100% !important;
    display: inline-block !important;
    background-position:center !important;
    background-repeat:no-repeat;
}

#sidebar #sidebar-tabs i.fa-swords::before {
    content: "";
}

#sidebar:not(.collapsed) #sidebar-tabs i.fa-map {
    content: "";
    background-image: url("/modules/wooden-ui/ui/img/flag_icon.PNG") !important;
    width: 100% !important;
    height: 100% !important;
    display: inline-block !important;
    background-position:center !important;
    background-size:cover !important;
}

#sidebar.collapsed #sidebar-tabs i.fa-map {
    content: "";
    background-image: url("/modules/wooden-ui/ui/img/flag_icon.PNG") !important;
    width: 100% !important;
    height: 100% !important;
    display: inline-block !important;
    background-position:center !important;
    background-repeat: no-repeat;
}

#sidebar #sidebar-tabs i.fa-map::before {
    content: "";
}

#sidebar:not(.collapsed) #sidebar-tabs i.fa-user {
    content: "";
    background-image: url("/modules/wooden-ui/ui/img/SGI_91.png") !important;
    width: 100% !important;
    height: 100% !important;
    display: inline-block !important;
    background-position:center !important;
    background-size:cover !important;
}

#sidebar.collapsed #sidebar-tabs i.fa-user {
    content: "";
    background-image: url("/modules/wooden-ui/ui/img/SGI_91.png") !important;
    width: 100% !important;
    height: 100% !important;
    display: inline-block !important;
    background-position:center !important;
    background-repeat:no-repeat;
}

#sidebar #sidebar-tabs i.fa-user::before {
    content: "";
}

#sidebar:not(.collapsed) #sidebar-tabs i.fa-suitcase {
    content: "";
    background-image: url("/modules/wooden-ui/ui/img/chest_icon.png") !important;
    width: 100% !important;
    height: 100% !important;
    display: inline-block !important;
    background-position:center !important;
    background-size:cover !important;
}

#sidebar.collapsed #sidebar-tabs i.fa-suitcase {
    content: "";
    background-image: url("/modules/wooden-ui/ui/img/chest_icon.png") !important;
    width: 100% !important;
    height: 100% !important;
    display: inline-block !important;
    background-position:center !important;
    background-repeat:no-repeat;
}

#sidebar #sidebar-tabs i.fa-suitcase::before {
    content: "";
}

#sidebar:not(.collapsed) #sidebar-tabs i.fa-book-open {
    content: "";
    background-image: url("/modules/wooden-ui/ui/img/scroll_icon.PNG") !important;
    width: 100% !important;
    height: 100% !important;
    display: inline-block !important;
    background-position:center !important;
    background-size:cover !important;
}

#sidebar.collapsed #sidebar-tabs i.fa-book-open {
    content: "";
    background-image: url("/modules/wooden-ui/ui/img/scroll_icon.PNG") !important;
    width: 100% !important;
    height: 100% !important;
    display: inline-block !important;
    background-position:center !important;
    background-repeat:no-repeat;
}

#sidebar #sidebar-tabs i.fa-book-open::before {
    content: "";
}

#sidebar:not(.collapsed) #sidebar-tabs i.fa-th-list {
    content: "";
    background-image: url("/modules/wooden-ui/ui/img/TabletopBadges_50.PNG") !important;
    width: 100% !important;
    height: 100% !important;
    display: inline-block !important;
    background-position:center !important;
    background-size:cover !important;
}

#sidebar.collapsed #sidebar-tabs i.fa-th-list {
    content: "";
    background-image: url("/modules/wooden-ui/ui/img/TabletopBadges_50.PNG") !important;
    width: 100% !important;
    height: 100% !important;
    display: inline-block !important;
    background-position:center !important;
    background-repeat:no-repeat;
}

#sidebar #sidebar-tabs i.fa-th-list::before {
    content: "";
}

#sidebar:not(.collapsed) #sidebar-tabs i.fa-music {
    content: "";
    background-image: url("/modules/wooden-ui/ui/img/music_icon.png") !important;
    width: 100% !important;
    height: 100% !important;
    display: inline-block !important;
    background-position:center !important;
    background-size:cover !important;
}

#sidebar.collapsed #sidebar-tabs i.fa-music {
    content: "";
    background-image: url("/modules/wooden-ui/ui/img/music_icon.png") !important;
    width: 100% !important;
    height: 100% !important;
    display: inline-block !important;
    background-position:center !important;
    background-repeat:no-repeat;
}

#sidebar #sidebar-tabs i.fa-music::before {
    content: "";
}

#sidebar:not(.collapsed) #sidebar-tabs i.fa-atlas {
    content: "";
    background-image: url("/modules/wooden-ui/ui/img/book_icon.PNG") !important;
    width: 100% !important;
    height: 100% !important;
    display: inline-block !important;
    background-position:center !important;
    background-size:cover !important;
}

#sidebar.collapsed #sidebar-tabs i.fa-atlas {
    content: "";
    background-image: url("/modules/wooden-ui/ui/img/book_icon.PNG") !important;
    width: 100% !important;
    height: 100% !important;
    display: inline-block !important;
    background-position:center !important;
    background-repeat: no-repeat;
}

#sidebar #sidebar-tabs .fa-cards:before {
    content: "";
}

#sidebar:not(.collapsed) #sidebar-tabs i.fa-cards {
    content: "";
    background-image: url("/modules/wooden-ui/ui/img/card.PNG") !important;
    width: 100% !important;
    height: 100% !important;
    display: inline-block !important;
    background-position:center !important;
    background-size:cover !important;
}

#sidebar.collapsed #sidebar-tabs i.fa-cards {
    content: "";
    background-image: url("/modules/wooden-ui/ui/img/card.PNG") !important;
    width: 100% !important;
    height: 100% !important;
    display: inline-block !important;
    background-position:center !important;
    background-repeat: no-repeat;
}

#sidebar #sidebar-tabs i.fa-atlas::before {
    content: "";
}

#sidebar:not(.collapsed) #sidebar-tabs i.fa-cogs {
    content: "";
    background-image: url("/modules/wooden-ui/ui/img/config_icon.png") !important;
    width: 100% !important;
    height: 100% !important;
    display: inline-block !important;
    background-position:center !important;
    background-size:cover !important;
}

#sidebar.collapsed #sidebar-tabs i.fa-cogs {
    content: "";
    background-image: url("/modules/wooden-ui/ui/img/config_icon.png") !important;
    width: 100% !important;
    height: 100% !important;
    display: inline-block !important;
    background-position:center !important;
    background-repeat: no-repeat;
}

#sidebar #sidebar-tabs i.fa-cogs::before {
    content: "";
}
/* #endregion */

/* #region Chat Tab*/
.message{
    background-image: url("/modules/wooden-ui/ui/img/parchment-smooth.png") !important;
}
.message-sender {
    color: darkred;
    font-weight: bold;
    border-bottom-color: darkred;
    text-decoration: underline;
}

#chat-message{
    background-image: url(/modules/wooden-ui/ui/img/parchment-smooth.png) !important;
    box-shadow: 0px 0px 6px 1px #1e2022 inset;
    border-radius: 5px;
}

.polyglot-lang-select select {
    font-family: CaslonPro;
    font-weight: 500;
    font-size: 14px;
    text-align: left;
    position: relative;
    height: 24px;
    top: 7px;
    padding-top: 0px;
    background: url(/modules/wooden-ui/ui/img/parchment-smooth.png) repeat !important;
    background-position-x: 0%;
    background-position-y: 0%;
    background-position: initial;
    box-shadow: inset 0 0 10px #000000;
    border-image: url(/modules/wooden-ui/ui/img/chat-controls-border.png) 4 repeat;
    border-image-width: 4px;
    border-image-outset: 3px 2px 2px 2px;
    color: #520000;
    margin-top: -10px;
}
.roll-type-select{
    color: black !important;
    text-align: left;
    margin-bottom: 20px;
}
#chat-controls .control-buttons{
    color: white;
}

#sidebar .sidebar-tab #chat-controls div.roll-type-select select {
    font-family: CaslonPro;
    font-weight: 500;
    font-size: 14px;
    text-align: left;
    position: relative;
    height: 24px;
    top: 7px;
    padding-top: 3px;
    background: url(/modules/wooden-ui/ui/img/parchment-smooth.png) repeat;
    background-position-x: 0%;
    background-position-y: 0%;
    background-position: initial;
    box-shadow: inset 0 0 10px #000000;
    border-image: url(/modules/wooden-ui/ui/img/chat-controls-border.png) 4 repeat;
    border-image-width: 4px;
    border-image-outset: 3px 2px 2px 2px;
    color: #520000;
}

#combat-controls .combat-control{
    background-image: url(/modules/wooden-ui/ui/img/buttonredlight.png);
    text-align: center;
    background-position: center !important;
    background-size: 260px 100%!important;
    background-repeat: no-repeat;
}
/* #endregion*/

/* #region Sidebar Folder and widgets*/


.sidebar-tab .directory-header .header-search {
    align-items: baseline;
}

.sidebar-tab .directory-header .header-search input {
    font-family: CaslonPro;
    font-weight: 500;
    font-size: 14px;
    position: relative;
    height: 24px;
    top: 7px;
    padding-top: 3px;
    background: url(/modules/wooden-ui/ui/img/parchment-smooth.png) repeat;
    background-position-x: 0%;
    background-position-y: 0%;
    background-position: initial;
    box-shadow: inset 0 0 10px #000000;    
    border-image: url(/modules/wooden-ui/ui/img/chat-controls-border.png) 4 repeat;
    border-image-width: 4px;
    border-image-outset: 3px 2px 2px 2px;
    color: #520000;

}
.sidebar-tab .directory-header button {
    background-image: url(/modules/wooden-ui/ui/img/buttongreenlight.png);
    text-align: center;
    background-position: center !important;
    background-size: 100% 100% !important;
    background-repeat: no-repeat;
    min-height: 32px;
    border: 0px solid #b5b3a4;
    color : white;
    text-shadow: 2px 2px black ;
}

.header-search{
    padding-bottom: 8px;
}
.fa-search{
    color: darkgoldenrod;
}
.fa-sort-amount-up{
    color:darkgoldenrod;
}

.sidebar-tab .directory-footer button{
    background-image: url(/modules/wooden-ui/ui/img/buttongreenlight.png);
    text-align: center;
    background-position: center !important;
    background-size: 100% 100% !important;
    background-repeat: no-repeat;
    border: 0px solid #b5b3a4;
    color : white;
    text-shadow: 2px 2px black ;
}
/* #endregion */

/* #region Folders as buttons */
.sidebar-tab .folder .folder-header {
    background-image: url(/modules/wooden-ui/ui/img/buttonlight3.png)  !important;
    text-align: left !important;
    background-position: center !important;
    background-size: 100% 50px!important;
    background-repeat: no-repeat !important;
    padding-top: 15px;
    padding-bottom: 10px;
    color: white;
    padding-left: 25px;
}

.sidebar-tab .folder .compendium-folder-header {
    background-image: url(/modules/wooden-ui/ui/img/buttonlight3.png)  !important;
    text-align: left !important;
    background-position: center !important;
    background-size: 100% 50px!important;
    background-repeat: no-repeat !important;
    padding-top: 0px;
    padding-bottom: 0px;
    color: white;
    padding-left: 25px;
}

.sidebar-tab .directory-list .directory.item h3 {
    text-align: left !important;
    padding-left: 25px;
}

#sidebar section.sidebar-directory ol.directory-list li.directory-item.folder header {
    align-items: baseline;
    text-align: left !important;
    padding-left: 25px;
}
.subdirectory .folder {
    border-left: 2px solid #585858 !important;
}

/* #endregion */

/* #region Compendium headers */
#compendium h3 {
    text-align: left;
    top: 7px;
}
#compendium ol.compendium-list {
    padding-left: 25px;;
}
/* #endregion */


#settings div {
    margin: 0 -8px;
}

#settings button {
   background-image: url(/modules/wooden-ui/ui/img/config.jpg);
   background-size: cover;
   background-repeat: no-repeat;
   border: 1px solid black;
   color: white;
   font-size: 16px;
   height: 30px;
   width: 270px;
}

button:hover {
    box-shadow: 0 0 5px #c7cace;
}

/* #region Remove speaker name background colors in Chat window */
#chat-log .message .message-header .message-sender {
    background-color: rgba(0,0,0,0) !important;
}
/* #endregion */

/* #region Fix so as not to bigfoot on VTTA's tag system */
#sidebar section > ol.directory-list > li header > span.vtta-folder-label {
    text-shadow: 0px 0px 0px black !important;
}
/* #endregion */

/* #region Chat log */
/* differentiate public roll from private or blind.
 Private uses class whisper, blind uses class blind AND whisper, Self Roll
 uses class whisper (identical to Private Roll for CSS) */
#chat-log .message.whisper {
    font-style: italic;
}

#chat-log .message.whisper {
    background-image: url("/modules/wooden-ui/ui/img/parchment-hidden2.png") !important;
    
}

/* #chat-log .message.whisper .message-header {
    background-image: url("/modules/wooden-ui/ui/img/parchment-hidden2.png") !important;
} */

#chat-log .message.whisper .message-content {
    background-image: url("/modules/wooden-ui/ui/img/parchment-hidden2.png")  ;
    /*background-color: seashell !important;*/
}

#chat-log .message.whisper .message-header .message-metadata::before{    
    color: darkred;
    content: " (Private Roll) ";
    float: left;
    
}


#chat-log .message.blind .message-header .message-metadata::before{
    background-image: url("/modules/wooden-ui/ui/img/parchment-hidden2.png") !important;
    color: darkred;
    content: " (Blind Roll) " !important;
    float: left;
    
}
/* #endregion */